.btn-cart{
    background-color: #041e3a !important;
  border-radius: 0;
  color: #fff !important;
  cursor: pointer;
  text-align: center;
  width: auto !important;
  height: auto !important;
  font-size: 22px !important;
  font-weight: 500 !important;
}
.ant-input-number{
    width: 50px !important;
    height: 40px;
    bottom: 7px;
}
.cart-img{
margin-left: 20PX;
}