.card {
  cursor: pointer;
  max-width: 350px;
  height: 100%;
  padding: 15px;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-img {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://www.rlmedia.io/is/image/PoloGSI/s7-1429052_alternate10?$plpDeskRF$");
}
.card-img:hover {
  background-image: url("https://www.rlmedia.io/is/image/PoloGSI/s7-1429052_lifestyle?$plpDeskRF$");
}
.card-title {
  padding-top: 10px;
  font-size: 24px;
  color: rgb(85, 84, 84);
  font-family: Copyright Klim Type Foundry;
  letter-spacing: 1px;
}
.card-desc {
  font-family: Copyright Klim Type Foundry;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 1px;
}
.card-price {
  letter-spacing: 3px;
  padding-top: 10px;
  font-family: Le Jeune Deck;
  font-size: 20px;
}
