.navBar {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
.logo-link {
  text-decoration: none;
  cursor: pointer;
}
.navBar:hover {
  /* background: none; */
  color: white;
}
/* .navBar:hover .nav-item {
  color: white;
}
.navBar:hover .visually-hidden {
  color: white;
} */
.visually-hidden {
  font-size: 42px;
  font-family: Cormorant;
  text-transform: uppercase;
  color: black;
  font-weight: 550;
  letter-spacing: 8px;
}
.nav-item {
  padding-left: 40px;
  color: #231f20;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav_icons {
  width: 25px;
  height: 25px;
}
.nav-right {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
