.footer {
  margin-top: 100px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 50px 0;
}
.footer-blocks {
  display: flex;
  justify-content: space-between;
}
.footer-block {
  border-right: 1px solid #cfc7c7;
  padding-right: 50px;
}
.footer-block-title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-block-list {
  display: flex;
  flex-direction: column;
}
.footer-block-items {
  padding-top: 20px;
  font-size: 20px;
  font-family: Le Jeune Deck;
  text-transform: uppercase;
}
.footer-input {
  margin-top: 40px;
  border: 1px solid #cfc7c7;
  padding: 15px 10px;
  width: 300px;
  font-family: Copyright Klim Type Foundry;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-input-button {
  padding: 15px;
  border: 1px solid #153456;
  font-family: Copyright Klim Type Foundry;
  font-size: 18px;
  background-color: #153456;
  color: white;
}
.footer-bottom {
  text-align: center;
  font-size: 18px;
  padding-top: 70px;
  font-weight: 600;
}
