.search-navbar{
    position: absolute !important;
    top: 80px !important;
    right: 15px;

}
.btn-search-inp{
    display: flex;
     align-items: center; 
     justify-content: center
}
.btn-search{
    background-color: #041e3a !important;
     color: white !important; 
     border-radius: 2rem !important; 
     margin: 10px !important; 
     width: 100px !important; 
     text-align: center !important;
}
.ant-input-group > .ant-input:first-child{
    height: 50px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary){
height: 50px;
width: 50px;
}